@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #009748;
    --secondary-color: #82c051;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #222;
    --swiper-pagination-color: var(--primary-color);
    --swiper-navigation-color: var(--black-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
.max-whidth{
    max-width: 1300px;
    padding: 0 40px;
    margin: auto; 
}


/* navbar styling */
.navbar .max-whidth{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 30px 0;
    font-family: 'Montserrat';
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: var(--primary-color);
}
.navbar.sticky .menu li a{
    color: var(--white-color);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a{
    color: var(--white-color);
    transition: all 0.3s ease;
}
.navbar .menu li a{
    color: var(--black-color);
}
.navbar .logo a{
    color: var(--black-color);
    font-size: 35px;
    font-weight: 300;
}
.navbar .logo a span{
    font-weight: 700;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: var(--black-color);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: var(--black-color);
}



/* menu btn styling */
.menu-btn{
    color: var(--black-color);
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.menu-btn.white{
    color:var(--white-color);
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 45px;
    background: var(--primary-color);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: var(--white-color);
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}


/* home section styling */
.home{
    display: flex;
    background: url("images/banner2.png") no-repeat center;
    /*background-size: cover;
    background-attachment: fixed;*/
    height: 100vh;
    color: var(--white-color);
    min-height: 500px;   
    font-family: 'Montserrat';
}
.home .max-whidth{
    margin: auto 0 auto 20px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: var(--primary-color);
    font-weight: 700;
}
.home .home-content a{
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: var(--primary-color);
    background: none;
}


/* All similar content styling*/
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 60px; 
    padding-bottom: 20px;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    height: 3px;
    background: var(--black-color);
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 16px;
    color: var(--primary-color);
    padding: 5px;
    background: var(--white-color);
    transform: translateX(-50%);
}

/* about section start */
.about , .services, .teams, .contact, footer{
    font-family: 'Montserrat'; 
}
.about .title::after{
    content: "quienes somos";
}
.about .about-content,
.services .services-content,
.contact .contact-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: var(--primary-color);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: var(--primary-color);
    background: none;
}

/* services section start */
.services{
    color: var(--white-color);
    background: var(--black-color);
}
.services .title::before{
    background: var(--white-color);
}
.services .title::after{
    background: var(--black-color);
    content: "lo que ofrecemos";
}
.services .services-content .card{
    height: 250px;
    width: calc(33% - 20px);
    background: var(--gray-color);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px 0;
}
.services .services-content .card:hover{
    background-color: var(--primary-color);
}
.services .services-content .card .box{
    transition: all 0.3s ease;
}
.services .services-content .card .box:hover{
    transform: scale(1.05);
}
.services .services-content .card i{
    font-size: 40px;
    color: var(--primary-color);
    transition: color 0.3s ease;
}
.services .services-content .card:hover i{
    color: var(--white-color);
}
.services .services-content .card .text{
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .services-content .card p{
    font-size: 12px;
    font-weight: 300;
}

/* teams section styling */
.teams{
    background: #e6e6e6;
}
.teams .title::after{
    content: "nuestro apoyo";
    background: #e6e6e6;
}
.teams .container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    padding: 15px 10px;
}
.teams .card-list .card-item .card-link{
    user-select: none;
    display: block;
    background: var(--white-color);
    padding: 18px;
    border-radius: 12px;
    border: 2px solid transparent;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}
.teams .card-list .card-item .card-link:hover{
    border-color: var(--primary-color);
}
.teams .card-list .card-item .card-link .card-image{
    width: 100%;
    aspect-ratio: 3.5/3.5;
    object-fit: cover;
    border-radius: 10px;
}
.teams .card-list .card-item .card-link .badge{
    color: #5372f0;
    margin: 16px 0 18px;
    padding: 8px 16px;
    font-size: 0.65rem;
    font-weight: 500;
    background: #dde4ef;
    width: fit-content;
    border-radius: 50px;
}
.teams .card-list .card-item .card-link .badge.profile2{
    color: #b22485;
    background: #f7dff5;
}
.teams .card-list .card-item .card-link .badge.profile3{
    color: #b25a2b;
    background: #ffe3d2;
}
.teams .card-list .card-item .card-link .badge.profile4{
    color: #205c20;
    background: #d6f8d6;
}
.teams .card-list .card-item .card-link .badge.profile5{
    color: #856404;
    background: #fff3cd;
}
.teams .card-list .card-item .card-link .card-title{
    font-size: 1.2rem;
    color: var(--black-color);
    font-weight: 700;
}


/* contact section stylingn  */
.contact .title::after{
    content: "Ponte en contacto";
}
.contact .contact-content .colum{
    width: calc(50% - 30px);
}
.contact .contact-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: var(--primary-color);
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row .info.address{
    margin-left: 40px;
}
.contact .contact-content .row .info .head{
    font-weight: 700;
}
.contact .contact-content .row .info .sub-title{
    color:#333;
    font-weight: 400;
}
.contact .right .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 95px;
    width: 100%;
}
.contact .right .name{
    margin-right: 10px;
}
.contact .right .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right .button{
    height: 47px;
    width: 170px;  
}
.contact .right .button button{
    height: 100%;
    width: 100%;
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right .button button:hover{
    color: var(--primary-color);
    background: none;
}


/* social media styling */
.social-legal .icon {
  width: 40px;      /* Tamaño horizontal */
  height: 40px;     /* Tamaño vertical */
  object-fit: contain; /* Mantiene la proporción del logo */
  transition: transform 0.3s; /* Efecto hover opcional */
}

.social-legal .icon:hover {
  transform: scale(1.2); /* Efecto hover para agrandar ligeramente */
}


/* footer section styling */
footer{
    background: var(--black-color);
    padding: 20px 23px;
    color: var(--white-color);
}
footer span a{
    color: var(--primary-color);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsive media query start*/
@media (max-width: 1300px){
    .home .max-whidth{
        margin-left: 0;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px){
  .max-whidth{
        padding: 0 20px;
    }
}
@media (max-width: 947px){
  
    .menu-btn{
        display: block;
        z-index: 999;    
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: var(--primary-color);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .menu-btn i.active::before{
        color: var(--white-color);
        content: "\f00d";
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        color: #fff;
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 55px;
    }   
    .home .home-content .text-3{
        font-size: 25px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-whidth{
        max-width: 800px;
    }
    .about .about-content .colum{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px; 
    }
    .about .about-content .right{
        flex: 100%;

    }
    .services .services-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .teams .container{
        min-width: auto;
        max-width: 100vh;
    }
    .teams .card-list .card-item .card-link{
        padding: 10px;
    }
    .teams .card-list .card-item .card-link .badge{
        font-size: 0.65rem;
    }
    .teams .card-list .card-item .card-link .card-title{
        font-size: 0.95rem;
    }
    .contact .contact-content .colum{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 780px) {
    .max-width{
        padding: 0 23px;
    }
     .home .home-content .text-2{
        font-size: 40px;
    }   
    .home .home-content .text-3{
        font-size: 20px;
    }
    .home .home-content a{
        font-size: 20px;
        padding: 9px 25px;
    }
    .services .services-content .card{
        width: 100%;
    }
    .teams .container{
        min-width: auto;
        max-width: 100vh;
    }
    .teams .card-list .card-item .card-link{
        padding: 10px;
    }
    .teams .card-list .card-item .card-link .badge{
        font-size: 0.55rem;
    }
    .teams .card-list .card-item .card-link .card-title{
        font-size: 0.85rem;
    }
    
}
@media (max-width: 500px) {
    .max-width{
        padding: 0 23px;
    }
     .home .home-content .text-2{
        font-size: 35px;
    }   
    .home .home-content .text-3{
        font-size: 18px;
    }
    .home .home-content a{
        font-size: 20px;
        padding: 8px 20px;
    }
    .teams .container{
        min-width: auto;
        max-width: 100vh;
    }
    .teams .card-list .card-item .card-link{
        padding: 10px;
    }
    .teams .card-list .card-item .card-link .badge{
        font-size: 0.70rem;
    }
    .teams .card-list .card-item .card-link .card-title{
        font-size: 1.5rem;
    }
    
}
